body {
    background-color: #d2b48c;
    font-family: Arial, sans-serif;
}

.ribbon {
    background-color: #8b4513;
    padding: 30px;
    text-align: center;
    position: relative;
}

.ribbon h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
    margin-bottom: 1rem
}

form {
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #8b4513;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #5a2b0f;
}

.ribbon ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.ribbon li {
    display: inline-block;
    margin: 0 6px; /* Adjusted margin */
}


.ribbon a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px; /* Adjusted padding */
    border-radius: 4px;
    border: 2px solid #fff;
    transition: background-color 0.3s;
}

.ribbon a:hover {
    background-color: #fff;
    color: #8b4513;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #fff;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #fff;
    color: #8b4513;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #8b4513;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #8b4513;
    color: #fff;
}
button {
    background-color: #8b4513;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 2px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a2b0f !important;
}

